POSTMARK_API_TOKEN=someSecureToken
BASE_URL=http://localhost:8000
FRONTEND_BASE_URL=http://localhost:5173
RUNNING_ENV=development
JWT_SECRET=someSecureSecret
JWT_ALGORITHM=HS256
DATABASE_REPORT_TABLE=projectName.schemaName.task_process_result_v2
DATABASE_GRID_TABLE=projectName.schemaName.spatial_analysis_grid_v9 
GEE_SA_GCP=base64 encoded private key
AIPDET_FE_SA_GCP={private key json}
AIPDET_BE_SA_GCP={private key json}